.card-trail {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
  }

  .card-trail::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
    z-index: -1;
  }
